text 
bin/
src/Odev1/alistirma1/calisma1.java
src/Odev1/alistirma1/calisma2.java
src/Odev1/alistirma1/calisma3.java
src/Odev1/alistirma1/calisma7.java
src/Odev1/alistirma1/calisma10.java
src/Odev1/alistirma1/calisma11.java
src/Odev1/alistirma2/basarinotu.java
src/Odev1/alistirma2/denklem.java
src/Odev1/alistirma2/kursaalma.java
src/Odev1/alistirma2/KDVhesaplama.java
src/hafta4/yedininkatlari.java
src/hafta6/soru1.java
src/hafta6/soru2.java
src/hafta6/soru3.java
src/hafta6/soru4.java
src/hafta6/soru5.java
src/sinavcalisma/
src/hafta9/soru2.java
src/hafta9/soru3.java
src/hafta9/soru4.java
src/hafta9/kelimeyigetir.java
src/hafta9/sou6.java
src/hafta9/soru8.java
src/hafta9/soru9.java
src/hafta9/soru10.java
src/hafta9/soru11.java
src/hafta9/soru12.java



