text 
bin/
src/Odev1/alistirma1/calisma1.java
src/Odev1/alistirma1/calisma2.java
src/Odev1/alistirma1/calisma3.java
src/Odev1/alistirma1/calisma7.java
src/Odev1/alistirma1/calisma10.java
src/Odev1/alistirma1/calisma11.java
src/Odev1/alistirma2/basarinotu.java
